<!doctype html>
<html lang="en">

<head> <%- include('partials/head') %> </head>

<body>

  <!-- navigator  -->
  <%- include('partials/navigator') %>
    <%- include('partials/home-head.ejs') %>




    <%- include('partials/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include('partials/home-js.ejs') %>

</body>

</html>